{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block nav %}
<li><a href="../">首頁</a></li>
<li class="active"><a href="/article/1">文章</a></li>
<li><a href="/sell">販賣商品</a></li>
<li><a href="/fan">粉絲專頁</a></li>
{% if user === true %}
<li><a href="/post/new">建立頁面</a></li>
{% endif %}
{% if user === false %}
<li><a href="/login1">登入</a></li>
{% endif %}
{% if user === true %}
<li><a href="/logout">登出</a></li>
{% endif %}
{% endblock %}

{% block content %}

    {% for post in posts %}
    <h3><a href="/post/{{(post._id).toString()}}">{{post.title}}</a></h3>
      <hr>
      <img src="/upload/{{post.path}}" class="rounded float-left" alt="Responsive image" style="weight:100%; height:auto; float:left;"> 
      <p style="padding-left:160px; padding-bottom:80px">{{post.body.substr( 0 , 100 )}}...</p>
      <p style="text-align:right; word-spacing: 15px">發文者 {{post.created_at.toLocaleDateString()}} 熱度℃ 評論() 喜歡()</p>
      <p style="clear:left; padding:0px; margin:0px;"></p>
      {% endfor %}
      <ul class="pagination" style="display: table; margin: 10px auto;">
            <li class="active"><a href="/article/1">1</a></li>
            <li><a href="/article/2">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
{% endblock %}